{% extends '../layout.html' %}
{% block title %}{% endblock %}
{% block content %}

  <!-- title -->
  <div class="row">
    <div class="col-md-offset-3 col-md-6 text-center">
      <h1>{{ Title }}</h1><br>
    </div>
  </div>

  <!-- error messages -->
  {% if errors %}
  <div class="row">
    <div class="col-md-offset-3 col-md-6 alert alert-danger" role="alert">
    {% for error in errors %}
      <p>{{error}}</p>
    {% endfor %}
    </div>
  </div>
  {% endif %}

<!-- form -->
<!-- note: action is post route want to end up at -->
  <div class="col-md-offset-3">
    <form method="post" action="/puppy/new" class="form-horizontal">
      <div class="form-group">
        <label for="inputPuppies" class="col-md-2 control-label">Name</label>
        <div class="col-md-4">
          <input type="text" name="puppyName" class="form-control" placeholder="Enter the puppy's name...">
        </div>
      </div>
      <div class="form-group">
        <label for="inputId" class="col-md-2 control-label">ID</label>
        <div class="col-md-4">
          <input type="number" name="puppyId" class="form-control" placeholder="Enter 3-digit ID number for the puppy...">
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-offset-2 col-md-4">
          <a href="/puppy/puppies"><button type="submit" value="createPuppy" class="btn btn-default">Create Puppy!</button></a>
        </div>
      </div>
    </form>
  </div>

{% endblock %}
