{% extends '../layout.html' %}

{% block title %}{% endblock %}

{% block content %}

  <!-- title -->
  <div class="row">
    <div class="col-md-offset-3 col-md-6 text-center">
      <h1>{{ Title }}</h1><br>
    </div>
  </div>

  <!-- error messages -->
  {% if errors %}
  <div class="row">
    <div class="col-md-offset-3 col-md-6 alert alert-danger" role="alert">
    {% for error in errors %}
      <p>{{error}}</p>
    {% endfor %}
    </div>
  </div>
  {% endif %}

  <!-- form -->
  <!-- note: action is post route want to end up at -->
  <div class="col-md-offset-3">
  <form method="post" action="/person/new" class="form-horizontal">
      <div class="form-group">
        <label for="inputFirstName" class="col-md-2 control-label">First Name</label>
        <div class="col-md-4">
          <input type="text" name="firstName" class="form-control" placeholder="Enter the person's first name...">
        </div>
      </div>
    <div class="form-group">
      <label for="inputHobby" class="col-md-2 control-label">Hobby</label>
      <div class="col-md-4">
        <input type="text" name="hobby" class="form-control" placeholder="Enter person's hobby...">
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-offset-2 col-md-4">
        <a href="/person/people"><button type="submit" value="createPerson" class="btn btn-default">Create Person!</button></a>
      </div>
    </div>
  </form>
</div>

{% endblock %}
